/* create variables for the colors */
$bg:#353535;
$primary:#ff4f4f;
$bg-alt:#00ffc8;


/* set font-family to Anonymous Pro Mono */
html, body, input, textarea, select, button {
    font-family: 'Anonymous Pro', monospace;
}


body {
    width: 100vw;
    height: 100vh;
    background: $bg-alt;
    background: linear-gradient($bg, $bg-alt);
}

h1 {
    color: $primary;
    font-size: 10vw;
}