/* create variables for the colors */
$bg:#353535;
$primary:#ff4f4f;
$secondary:#ffffff;



/* set font-family to Anonymous Pro Mono */
html, body, input, textarea, select, button {
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
}


/* set the background color to grey */
body {
    background-color: $bg;
}

html,
body {
  width: 250px;
}

.hidden {
  display: none;
}

h1 {
    color: $primary;
    font-size: 20px;
    text-align: center;
}

a {
    color: $secondary;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
} 

